# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Node.js (frontend)
node_modules/
.next/
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json

# Прочие
*.DS_Store
backend/credentials/google-credentials.json